In [1]:
import pandas as pd

data = {
    'col1': [2,3,4,5],
    'col3': [6,7,8,9],
    'col4': [10,11,12,13],
    'col5': [14,15,16,17]
}
df = pd.DataFrame(data)
df

   col1  col3  col4  col5
0     2     6    10    14
1     3     7    11    15
2     4     8    12    16
3     5     9    13    17